.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  position: fixed;
  top: calc(50vh - 80px);
  left: 40px;
}

.buttons > div{
  border: 3px solid rgba(211, 211, 211, .6);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.zero div:nth-child(1) {
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.one div:nth-child(2) {
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.two div:nth-child(3) {
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.three div:nth-child(4) {
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.four div:nth-child(5) {
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.five div:nth-child(6) {
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}